.navbar__container {
    position: absolute;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "logo  .          hamburger"
        "logo  slogan     hamburger"
        "logo  .                   .";

    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 5px 40px 5px;
    background-color: var(--color-black);
    z-index: 3;
}

.navbar__container::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 550px;
    margin-top: 30px;
    background-color: var(--color-black);
    clip-path: polygon(0% 0%, 100vw 0%, 100vw 0%, 0% 10%, 0% 11%, 80.00% 2.8%, 80.00% 2.8%, 0.00% 15.00%, 0.00% 16.00%, 60.00% 7.00%, 60.00% 7.00%, 0.00% 18.00%);

    z-index: -1;
}

.navbar__logo {
    grid-area: logo;
    display: block;
    cursor: pointer;
}    
.navbar__logo:hover {
    transition: ease-in;
    transform: scale(98%);
}

.navbar__logo_image {

}

.navbar__slogan {
    display: none;
    // display: grid;
    grid-auto-flow: column;
    grid-area: logo;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}
.navbar__slogan:hover {
    transition: ease-in;
    transform: scale(98%);

}

.navbar__slogan_ab{
    display: none;
}
.navbar__slogan_s{
    display: none;
}
.navbar__slogan_logo {
    animation: 1s ease-out 0s 1 slideInLeft;

}
.navbar__slogan_logo:hover {

    transform: rotate(360deg);
    transition-duration: 1s;

}
.navbar__slogan_logo:not(:hover) {
    transform: rotate(0deg);
    transition-duration: 1s;
}
.navbar__slogan_academy{
    display: none;
}

.navbar__menu {
    position: fixed;
    display: flex;
    top:0;
    width: 100vw;
    height: 100vh;

    align-self: center;
    justify-self: center;

    align-items: center;
    justify-content: center;

    background-color: var(--color-black);

    z-index: 8;

    animation-name: navmenu;
    animation-duration: 0.5s;
    // animation-fill-mode: forwards;
}

@keyframes navmenu {
    from {
        transform: scale(10%);
        opacity: 0;
    }

    to {
        transform: scale(100%);
        opacity: 0.95;
    }
}

.navbar__links_container__mobile {
    // visibility: hidden;
    display: flex;
    align-items: center;

    max-height: 8vh;
    margin-top: -13px;
    /* transform: rotate(-1deg); */
}

.navbar__links__mobile {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 2rem;
    line-height: 3rem;
    font-family: var(--font-title);
}

.navbar__book {
    display: flex;
    max-height: 8vh;
    align-items: center;
    visibility: hidden;
}

.navbar__social {
    visibility: hidden;
}

.navbar__hamburger {
    display: grid;
    grid-area: hamburger;
    z-index: 10;
}


@mixin glitchCopy { 
    content: attr(data-text);
    position: absolute;

}


.glitch {
    display: inline-flex;
    min-height: 50px;
    flex-wrap: nowrap;
    padding: 0.8rem 0rem 0rem 0rem;
    // font-family: var(--font-title3);
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
/* Animation provies a slight random skew. Check bottom of doc
for more information on how to random skew. */

&:hover{
    animation: glitch-skew 1s infinite linear alternate-reverse;
}

// Creates a copy before our text. 
&::before{
    // Duplicates our text with the mixin.
    @include glitchCopy;
    // Scoots text slightly to the left for the color offset.
    pointer-events: none;
}
&:hover::before {
    // Creates the color 'shadow' that happens on the glitch.
    text-shadow: -2px 0 #ff00c1;
    /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
    clip: rect(44px, 450px, 56px, 0);
    /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
    animation: glitch-anim 5s infinite linear alternate-reverse;
}

// Creates a copy after our text. Note comments from ::before.
&::after {
    @include glitchCopy;
    pointer-events: none;
    
}
&:hover::after {
    text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
    animation: glitch-anim2 1s infinite linear alternate-reverse;
}

}


/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@keyframes glitch-anim {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(calc(1/$steps)))} {
        clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                transform: skew(calc((random(5) / 100)) + deg);
        }
    }
}

// Same deal, just duplicated for ultra randomness.
@keyframes glitch-anim2 {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(calc(1/$steps)))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
                    transform: skew(calc((random(5) / 100)) + deg);
        }
    }
}

// Does the same deal as before, but now only skews. Used for main text.
@keyframes glitch-skew {
    $steps: 10;
    @for $i from 0 through $steps {
        #{percentage($i*(calc(1/$steps)))} {
            transform: skew((random(5) - 1) + deg);
        }
    }
}

@media screen and (min-width: 768px) and (min-height: 500px) {
    .navbar__container {
        grid-template-areas:
            "logo .      .      .       ."
            "logo space slogan social hamburger"
            "logo .      .      .       .";

        grid-template-columns: 0.5fr 1fr 8fr 1fr 0.5fr;
        grid-template-rows: 0px 50px 0px;
    }

    .navbar__container::before {
        height: 600px;
        margin-top: 20px;
    }

    .navbar__logo {
        // padding: 5px 0 0 5px;
        grid-area: logo;
        display: block;
    }

    .navbar__logo img {

    }

    .navbar__slogan {
        display: grid;
        grid-auto-flow: column;
        grid-area: slogan;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        font-style: italic; 
        // transform: rotate(-1deg);
    }

    .navbar__slogan_ab{
        display: unset;
        font-family: var(--font-title);
        // font-family: var(--font-slogan);
        color: var(--color-gray);
        // font-style: italic;    
        font-size: 32px;
        padding-right: 10px;
        white-space: nowrap;
    }
    .navbar__slogan_s{
        display: unset;
        font-family: var(--font-title);
        padding-right: 6px;
        color: var(--color-white);
        // font-style: italic;    
        font-size: 32px;
        white-space: nowrap;
    }

    .navbar__slogan_academy{
        display: unset;
        font-family: var(--font-title);
        color: var(--color-white);
        // font-style: italic;    
        font-size: 32px;
        white-space: nowrap;
    }

    .navbar__links_container {
        // visibility: hidden;
        display: grid;
        flex-direction: row;
        max-height: 8vh;
        margin-top: -13px;
        /* transform: rotate(-1deg); */
    }

    .navbar__links__mobile {
        font-size: 3rem;
        line-height: 5rem;
    }
    .navbar__links {
        display: inline-flex;
        min-height: 50px;
        flex-wrap: nowrap;
        margin-top: 15px;
        padding: 0.8rem 0rem 0rem 0rem;
    // font-family: var(--font-title3);
    //font-family: var(--font-title8);
    //font-family: 'Recharge', sans-serif;
    // font-family: 'Gtek Nova', sans-serif;
    // font-family: 'Xtreme Chrome', sans-serif;
    // font-family: 'Imperfecta Rough', sans-serif;
    // font-family: 'Betterworks', sans-serif;
    // font-family: 'SPORT CENTER', sans-serif;
    // font-family: 'EA Sports Covers SC', sans-serif;
    // font-family: 'Suissnord', sans-serif;                                    
     font-family: var(--font-montserrat-alt);

    // transform: rotate(-1deg);

     font-size: 0.7em;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .navbar__social {
        visibility: unset;
        display: grid;

        grid-area: social;
        grid-auto-flow: column;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: unset;
        margin: unset;
    }

    .navbar__fb_img {
        cursor: pointer;

    
        // max-width: 48px;
        // min-height: 100%;
    }
    .navbar__fb_img:hover {
        transition: ease-in;
        transform: scale(105%);
    }

    .navbar__ig_img {
        cursor: pointer;
        // max-width: 48px;
        // min-height: 100%;
    }
    .navbar__ig_img:hover {
        transition: ease-in;
        transform: scale(105%);
    }

    .navbar__yt_img {
        cursor: pointer;
        max-width: 48px;
    }
    .navbar__yt_img:hover {
        transition: ease-in;
        transform: scale(105%);
    }

    .navbar__hamburger {
        display: grid;
        grid-area: hamburger;

        justify-self:end ;
        align-self: center;


        z-index: 10;
    }


}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1280px) {}






//? ANIMATIONS

// Soccer Ball
@keyframes slideInLeft { 
    0% {

        transform: rotate(0deg);
        animation-timing-function: cubic-bezier(0,0,0.58,1)
    }
      100% {

        transform: rotate(350deg);
        transition-duration: 3s;
    }
}

    /* @keyframes blur {
        from {
            text-shadow: 0px 0px 1px #000;
        }

        to {
            text-shadow: 0px 0px 5px #fff,
                1px 1px 15px #fff,
                0px 0px 10px #fff,
                0px 0px 25px #fff,


                0px 0px 50px #ff0180,
                0px 0px 150px #ff0180,
                0px 10px 100px #ff0180,
                0px 10px 100px #ff0180,
                0px 10px 100px #ff0180,

                1px 1px 15px #fff;
        }
    } */

    /* .navbar__book {
        visibility: unset;
        display: inline-flex;
        min-height: 50px;
        max-height: 8vh;
        flex-wrap: nowrap;
        padding: 0rem 0rem 0rem 1rem;
        text-align: center;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    } */