.btn {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    /* font-weight: 700; */
    font-size: 15px;
    background-color: var(--color-black);
    padding: 17px 60px;
    margin: 5px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.20);
}

.btn:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}